:root {
    /* Dark Theme Colors */
    --background-primary: #020202;
    --background-secondary: #0D2818;
    --background-secondary-dark: #1f1f1f;
    --text-primary-dark: #FFFFFF;
    --text-secondary-dark: #CCCCCC;
    --button-primary: #16DB65;
    --button-secondary: #058C42;
    --hover-primary: #13A552;
    --hover-secondary: #036C34;
}
:focus {
    outline: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    caret-color: var(--main-color);
    font-family: sans-serif;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.container {
    padding: 0 15px;
    margin: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
body {
    background-color: var(--background-primary);
    color: var(--text-primary-dark);
    font-family: sans-serif;
    min-height: 100vh;
    position: relative;
}
body.light-theme {
    --background-primary: #FFFFFF;
    --background-secondary: #F4F4F4;
    --text-primary-light: #020202;
    --text-secondary-light: #333333;
    --button-primary: #058C42;
    --button-secondary: #04471C;
    --hover-primary: #16DB65; /* Slightly lighter */
    --hover-secondary: #036C34; /* Slightly lighter */
}






